#!/bin/bash

# Run updates by (re-)execution of setup.
alias update='$HOME/setup'

# Short aliases for tools in $HOME/scripts.

# Run a web search; do not add to history.
alias s=' do-web-search' # Intentionally starting with space!

# Interactively choose a template.
alias templ='fzf-template'

# Notes.
alias notes='joplin --profile ~/.config/joplin-desktop'

# Open the spelling dictionary.
alias spelldict='nvim $HOME/.local/share/ltex/ltex.dictionary.en-US.txt'

# Todos and calendar shorthands.
# alias t='nb tasks open'
alias tsync='vdirsyncer sync'
alias cal='khal calendar'
alias ical='ikhal'

# Some convenience aliases.
alias c='clear'
alias j='jobs'

# File system and navigation defaults.

alias tr='tree -C .'
alias ta='tree -Ca .'
alias t1='tree -C . -L 1'
alias t2='tree -C . -L 2'
alias t3='tree -C . -L 3'
alias t4='tree -C . -L 4'
alias t5='tree -C . -L 5'
alias tn='tree . -C -L'

alias ..=../
alias ...=../../
alias ....=../../../

# Safety.

alias ln='ln -i'
alias mv='mv -i'

# Editor (666) Everything is Neovim.

alias vim='nvim'
alias nano='nvim'
alias vi='nvim'

# In case I actually want 'vi' for some reason.
alias ogvi='/usr/bin/vi'

# Attach to main tmux session.
alias base='tmux new-session -A -s base'

# Unlock ssh-agent for a session.
alias agent-unlock='eval `ssh-agent -s`; ssh-add'

# Common git commands prefixed with 'gg'.
# Note, that right_git calls 'dot' in $HOME
# or forwards to normal 'git', otherwise.
alias rgit='use_right_git'
alias ggl='rgit log'
alias ggs='rgit status'
alias ggd='rgit diff'
alias ggP='rgit pull'
alias gga='rgit add'
alias ggr='rgit restore --staged'
alias ggc='rgit commit -m'
alias ggp='rgit push'
alias ggb='rgit branch'
alias ggo='rgit checkout'
alias ggi='rgit init'

# Utility.

# Encode and decode URLs with Python.
alias url-decode='python3 -c "import sys, urllib.parse as ulp; print(ulp.unquote(sys.argv[1]))"'
alias url-encode='python3 -c "import sys, urllib.parse as ulp; print(ulp.quote(sys.argv[1]))"'

# Visualize Markdown with smartless, updating on file change.
alias readme='ls *.md | entr -c smartless *.md'

# Alias for 'smartless' printing script, see ~/scripts/smartless
alias sml='smartless'

# Use btop instead of top.
alias top='btop'

# Compare directories.
alias diffdir='diff -bur'

# Define an alias to bat(cat) and setup theme.
export BAT_THEME="zenbones"
if command -v batcat &>/dev/null; then
    alias bat='batcat'
else
    alias bat='bat'
fi

# Reload the ZSH configuration.
alias zshreload='. $HOME/.zshrc'

# Edit shell configuration files, then reload.
alias zshconfig='vi $HOME/.aliases $HOME/.functions $HOME/.zshrc; zshreload'

# Programming Tools.

# Python

alias python='python3' # Just in case.
alias py='python3'

# Create venv, activate (project venv), deactivate (any) venv.
alias pyc='python3 -m venv venv'
alias pya='source venv/bin/activate'
alias pyd='deactivate'
alias pyf='pip freeze > requirements.txt'

# Clojure

# Launch a REPL that Conjure (Neovim) can connect to.
alias nrepl="clj -Sdeps '{:deps {nrepl/nrepl {:mvn/version \"1.0.0\"} cider/cider-nrepl {:mvn/version \"0.42.1\"}}}' -M --main nrepl.cmdline --middleware '[\"cider.nrepl/cider-middleware\"]' --interactive"
