#!/bin/bash

# Dotfiles.

# Access the bare repository with 'dot'.
alias dot='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
# Run updates by (re-)execution of setup.
alias update='$HOME/setup'

# Short aliases for tools in $HOME/scripts.

# Run interactive todo(man).
alias ti='fzf-todo'

# Run a web search; do not add to history.
alias s=' do-web-search' # intentionally starting with space

# Interactively choose a template.
alias templ='fzf-template'

# Notes: TODO: Update

alias notes='joplin --profile ~/.config/joplin-desktop'

# export NOTES_HOME="$HOME/Notes/home"

# alias zenvim='nvim -c "set norelativenumber"'
# alias notes="zenvim \$NOTES_HOME/index.md"
# alias journal="zenvim \$NOTES_HOME/journal.md"
# alias inbox="zenvim \$NOTES_HOME/inbox.md"
# alias toinbox='cat >> ~/Notes/home/inbox.md'

# Todos and calendar shorthands.
# alias t='nb tasks open'
alias tsync='vdirsyncer sync'
alias cal='khal calendar'
alias ical='ikhal'

# File system and navigation defaults.

alias tr='tree -C .'
alias ta='tree -Ca .'
alias t1='tree -C . -L 1'
alias t2='tree -C . -L 2'
alias t3='tree -C . -L 3'
alias t4='tree -C . -L 4'
alias t5='tree -C . -L 5'
alias tn='tree . -C -L'

alias ..=../
alias ...=../../
alias ....=../../../

# Safety.

alias ln='ln -i'
alias mv='mv -i'

# Editor (666) All is Neovim.

alias vim='nvim'
alias nano='nvim'
alias vi='nvim'

alias em="emacs_open"
alias emt="TERM=alacritty-direct emacsclient -t"

# In case I actually want 'vi' for some reason.
alias ogvi='/usr/bin/vi'

# Attach to main tmux session.
alias base='tmux new-session -A -s base'

# Git (gg).

# Unlock ssh-agent for a session.
alias agent-unlock='eval `ssh-agent -s`; ssh-add'

alias ggl='git log'
alias ggb='git branch'
alias ggs='git status'
alias ggp='git push'
alias ggP='git pull'
alias ggc='git commit -m'
alias gga='git add'

# Utility.

# Encode and decode URLs.
alias url-decode='python3 -c "import sys, urllib.parse as ulp; print(ulp.unquote(sys.argv[1]))"'
alias url-encode='python3 -c "import sys, urllib.parse as ulp; print(ulp.quote(sys.argv[1]))"'

# Visualize README with mdcat, updating on file change.
alias mdbat='mdcat --columns 80'
alias mdme='ls *.md | entr -c mdbat README.md'
alias readme='nvim README.md; clear; mdbat README.md'

alias c='clear'
alias j='jobs'
alias top='btop'

# Define an alias to bat(cat).
if command -v batcat &>/dev/null; then
    alias bat='batcat -pp --theme=ansi'
else
    alias bat='bat -pp --theme=ansi'
fi

# Use w3mman for viewing manfiles.
alias man='w3mman'

# Reload the ZSH configuration.
alias zshreload='. $HOME/.zshrc'
# Edit shell configuration files, then reload.
alias zshconfig='vi $HOME/.aliases $HOME/.functions $HOME/.zshrc; zshreload'

# Programming Tools.

# Python

alias python='python3'
alias py='python3'

# Create venv, activate (project venv), deactivate (any) venv.
alias pyc='python3 -m venv venv'
alias pya='source venv/bin/activate'
alias pyd='deactivate'
alias pyf='pip freeze > requirements.txt'

# Clojure

# Launch a REPL that Conjure (Neovim) can connect to.
alias nrepl="clj -Sdeps '{:deps {nrepl/nrepl {:mvn/version \"1.0.0\"} cider/cider-nrepl {:mvn/version \"0.42.1\"}}}' -M --main nrepl.cmdline --middleware '[\"cider.nrepl/cider-middleware\"]' --interactive"
