#!/bin/bash

# Dotfiles.

alias dot='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Notes and todo.txt.

alias t='todoman'
alias ti='todofzf'
alias tsync='vdirsyncer sync'
alias notes='nvim ~/Notes/index.md'
alias inbox='nvim ~/Notes/inbox.md'
alias toinbox='cat >> ~/Notes/inbox.md'
alias cal='khal calendar'
alias ical='ikhal'

# File system.

alias tr='tree -C .'
alias ta='tree -Ca .'
alias t1='tree -C . -L 1'
alias t2='tree -C . -L 2'
alias t3='tree -C . -L 3'
alias t4='tree -C . -L 4'
alias t5='tree -C . -L 5'
alias tn='tree . -C -L'

# Navigation.

alias ..=../
alias ...=../../
alias ....=../../../

# Safety.

alias ln='ln -i'
alias mv='mv -i'

# Editor (666).

alias vim='nvim'
alias vi='nvim'
alias ogvi='/usr/bin/vi'
alias emacs='nvim'
alias nano='nvim'

# Git (gg).

alias agent-unlock='eval `ssh-agent -s`; ssh-add'

alias ggl='git log'
alias ggb='git branch'
alias ggs='git status'
alias ggp='git push'
alias ggP='git pull'
alias ggc='git commit -m'
alias gga='git add'

# Utility.

alias url-decode='python3 -c "import sys, urllib.parse as ulp; print(ulp.unquote(sys.argv[1]))"'
alias url-encode='python3 -c "import sys, urllib.parse as ulp; print(ulp.quote(sys.argv[1]))"'

alias c='clear'
alias j='jobs'

# Zsh

alias zsh-reload='. $HOME/.zshrc'

# Python

alias pyva='source $(poetry env info --path)/bin/activate'
alias pyvd='deactivate'
