# Ignore for dotfiles repository.

/*
!/.punktpkgs
!/.punktpkgs/*
!/.pkgs
!/.pkgs/*
/.pkgs/local.yml
!/.config
.config/*
!/.config/nvim
!/.config/nvim/*
/.config/nvim/spell/*
!/.config/alacritty
!/.config/alacritty/*
/.config/alacritty/themes
/.config/alacritty/os.toml
!/scripts
/scripts/__*
!/.doom.d
!/.doom.d/*

